<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Sources.plist
   Another feed

   Created by Дмитрий Вашлаев on 11.08.18.
   Copyright (c) 2018 Дмитрий Вашлаев. All rights reserved.
-->
<plist version="1.0">
    <array>
        <dict>
            <key>Source name</key>
            <string>BBC</string>
            <key>Parameter</key>
            <string>bbc-news</string>
        </dict>
    </array>
</plist>
